@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&family=Lato:wght@300;700&display=swap');

// setttings
$color-dark: #14274e;
$color-txt-light: #9ba4b4;
$color-light: #f1f6f9;
$color-contrast: #9a0680;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Brygada 1918', serif;
$base-size: 14px;
$font300: 300;
$font400: 400;
$font700: 700;

$radius: 0.5rem;
$transition: all 0.3s ease-out;

body {
  font-size: $base-size;
  background-color: $color-light;
  color: $color-dark;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  color: $color-dark;
  background-color: $color-light;
  border: 1px solid $color-dark;
  border-radius: $radius;
  transition: $transition;
  font-family: $font-primary;
  font-size: $font400;
  cursor: pointer;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  svg {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: $color-contrast;
  }
}

.App {
  background-repeat: no-repeat;
  background-position: center right;
}

.container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  text-align: center;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: $font700;
  margin-bottom: 4rem;
  letter-spacing: 0.75rem;

  span {
    color: $color-contrast;
  }
}

.card {
  background-color: $color-light;
  border: 1px solid $color-dark;
  border-radius: $radius;
  padding: 2rem 1rem 0.5rem;
  box-sizing: border-box;
  width: 70%;
  min-height: 40vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote {
  font-family: $font-secondary;
  font-size: 1.25rem;
  font-weight: $font400;
}

.author {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: $font300;
  color: $color-dark;
  text-decoration: $color-contrast dashed underline;
  text-underline-offset: 0.5rem;
  text-align: right;
}

.button-box {
  margin-top: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 375px) {
  .header {
    font-size: 1rem;
  }
  .button-box {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
